# OUTPUT
color true
# PATHS
link-duplicates true
link-folder "node_modules/.packages"
# WORKSPACE
workspaces-experimental true
workspaces-nohoist-experimental true
# PACKAGES
flat true
ignore-scripts false
ignore-optional false
ignore-engines true
save-prefix "^"
# REQUESTS
registry "https://registry.yarnpkg.com"
strict-ssl true
# INIT
init-author-name "Saleh Abdel Motaal"
init-author-email "saleh@grasppe.com"
init-version "0.0.1"
init-license "MIT"
init-scope "@smotaal"
# VERSION
version-tag-prefix "v"
version-git-tag "true"
version-git-sign "false"
version-git-message "v%s"
