color true
link-duplicates true
workspaces-experimental true
workspaces-nohoist-experimental true
flat true
save-prefix "^"
init-author-name "Saleh Abdel Motaal"
init-author-email "saleh@grasppe.com"
init-version "0.0.1"
init-license "MIT"
init-scope "@smotaal"
version-tag-prefix "v"
version-git-tag "true"
version-git-sign "false"
version-git-message "v%s"
