@import url('https://cdn.jsdelivr.net/npm/@typopro/web-iosevka/TypoPRO-Iosevka.css');

:root {
  --markup-neutral-light: #aaa;
  --markup-neutral: #999;
  --markup-neutral-fade: #9993;
  --markup-neutral-dark: #666;

  --markup-light-text: #666;
  --markup-light: #f9f9f9;
  --markup-light-fade: #f9f9f933;
  --markup-dark-text: #eee;
  --markup-dark: #333f46;
  --markup-dark-fade: #333f4633;

  --markup-background: var(--markup-light, #f9f9f9);
  --markup-color: var(--markup-light-text, #666);
  --markup-constast: white;
  --markup-shadow: white;

  --markup-variables: red;
  --markup-identifiers: darkslategrey;
  --markup-keywords: chocolate;
  --markup-punctators: green;
  --markup-sequences: grey;
  --markup-operators: limegreen;
  --markup-combinators: dodgerblue;
  --markup-breakers: grey;
  --markup-quotes: steelblue;
  --markup-closures: orange;
  --markup-spans: coral;
  --markup-comments: var(--markup-neutral-light, #aaa);
  --markup-whitespace: var(--markup-neutral, #999);
}

.dark-mode, :host(.dark-mode) {
  --markup-background: var(--markup-dark, #333f46);
  --markup-color: var(--markup-dark-text, #eee);
  --markup-constast: #23262f;
  --markup-shadow: black;

  --markup-identifiers: lightgrey;
  --markup-punctators: limegreen;
  --markup-operators: lime;
  --markup-combinators: cornflowerblue;
  --markup-closures: darkorange;
  --markup-quotes: steelblue;
  --markup-comments: var(--markup-neutral, #999);
  --markup-whitespace: var(--markup-neutral-dark, #666);

}

.markup:matches(.keyword, .breaker, .opener, .span, .assigner, .operator, .combinator, .comment)
  + .markup.identifier {
  --color: var(--markup-identifiers, darkslategrey);
  /* font-style: italic; */
}

.markup.variable {
  --color: var(--markup-variables, red);
}
.markup.keyword {
  --color: var(--markup-keywords, olive);
  /* font-weight: 500; */
}
.markup.punctuator {
  --color: var(--markup-punctuators, green);
  /* font-weight: 500; */
}
.markup.sequence {
  --color: var(--markup-sequences, grey);
}
.markup.operator {
  --color: var(--markup-operators, limegreen);
}
.markup.combinator {
  --color: var(--markup-combinators, steelblue);
}
.markup.breaker {
  --color: var(--markup-breakers, grey);
}
.markup.quote,
.markup.in-quote {
  --color: var(--markup-quotes, teal);
}
.markup.opener,
.markup.closer {
  --color: var(--markup-closures, orange);
}
.markup.punctuator.span {
  --color: var(--markup-punctuators, coral);
}
.markup.comment,
.markup.in-comment {
  --color: var(--markup-comments, #aaa);
}

.markup {
  color: var(--color, var(--markup-color, var(--markup-light-text, currentColor)));
}
