.markup.comment:hover,
.markup.in-comment:hover,
.markup.whitespace:hover {
  --ring: var(--markup-whitespaces, var(--markup-neutral, #999));
}

.markup {
  --hover: var(--color, var(--markup-neutral, #999));
  --ring: var(--hover, var(--markup-neutral, #999));
  --padding: 1.5px;
  margin: calc(-1 * var(--padding, 2px)) calc(-2 * var(--padding, 2px));
  border-radius: 1ch;
  border: calc(2 * var(--padding, 2px)) solid transparent;
}

.markup:hover {
  background-color: var(--markup-constast, white);
  filter: drop-shadow(0 0 1.5px var(--ring, currentColor));
  cursor: text;
  opacity: 0.9;
  position: relative;
  z-index: 2;
}

.markup:hover::before {
  all: initial;

  display: block;
  position: absolute;
  pointer-events: none;

  content: attr(class);
  font-size: small;
  font-family: inherit;
  /* font-weight: 300; */
  white-space: pre;

  background-color: #000a;
  color: var(--markup-shadow, white);
  text-shadow: 0 1px 0 var(--markup-color, #666);

  box-shadow: inset 0 0 50px -15px var(--ring, currentColor);

  border-radius: 1ch;
  border-bottom: 1ch solid var(--ring, currentColor);

  padding: calc(3 * var(--padding, 2px)) calc(6 * var(--padding, 2px));
  left: calc(-6 * var(--padding, 2px));
  bottom: calc(100% + 0.25ch + -2 * var(--padding, 2px));
  z-index: -1;
  /* contain: layout content; */
}

.dark-mode .markup:hover::before {
  background-color: #FFFA;
}
