@import url('https://cdn.jsdelivr.net/npm/@typopro/web-iosevka/TypoPRO-Iosevka.css');

:root {
  --markup-neutral-light: #aaa;
  --markup-neutral: #999;
  --markup-neutral-fade: #9993;
  --markup-neutral-dark: #666;

  --markup-light-text: #666;
  --markup-light: #f9f9f9;
  --markup-light-fade: #f9f9f933;
  --markup-dark-text: #eee;
  --markup-dark: #333f46;
  --markup-dark-fade: #333f4633;

  /* Light Theme */

  --markup-light-background: var(--markup-light, #f9f9f9);
  --markup-light-color: var(--markup-light-text, #666);
  --markup-light-shadow: white;
  --markup-light-constast: white;

  --markup-light-variables: red;
  --markup-light-identifiers: darkslategrey;
  --markup-light-keywords: chocolate;
  --markup-light-punctators: green;
  --markup-light-sequences: grey;
  /* --markup-light-operators: limegreen; */
  --markup-light-operators: lightseagreen;
  --markup-light-combinators: cornflowerblue;
  /* --markup-light-combinators: dodgerblue; */
  --markup-light-breakers: grey;
  --markup-light-quotes: cadetblue;
  --markup-light-closures: orange;
  --markup-light-spans: coral;

  --markup-light-comments: var(--markup-neutral-light, #aaa);
  --markup-light-whitespace: var(--markup-neutral, #999);

  /* Dark Theme */

  --markup-dark-background: var(--markup-dark, #333f46);
  --markup-dark-color: var(--markup-dark-text, #eee);
  --markup-dark-constast: #23262f;
  --markup-dark-shadow: black;

  --markup-dark-identifiers: lightgrey;
  --markup-dark-punctators: limegreen;
  /* --markup-dark-operators: lime; */
  --markup-dark-closures: darkorange;

  --markup-dark-comments: var(--markup-neutral, #999);
  --markup-dark-whitespace: var(--markup-neutral-dark, #666);

  /* Light Mode */

  --markup-background: var(--markup-light-background);
  --markup-color: var(--markup-light-color);
  --markup-constast: var(--markup-light-constast);
  --markup-constast-inverse: var(--markup-dark-constast);
  --markup-shadow: var(--markup-light-shadow);

  --markup-variables: var(--markup-light-variables);
  --markup-identifiers: var(--markup-light-identifiers);
  --markup-keywords: var(--markup-light-keywords);
  --markup-punctators: var(--markup-light-punctators);
  --markup-sequences: var(--markup-light-sequences);
  --markup-operators: var(--markup-light-operators);
  --markup-combinators: var(--markup-light-combinators);
  --markup-breakers: var(--markup-light-breakers);
  --markup-quotes: var(--markup-light-quotes);
  --markup-closures: var(--markup-light-closures);
  --markup-spans: var(--markup-light-spans);

  --markup-comments: var(--markup-light-comments);
  --markup-whitespace: var(--markup-light-whitespace);
}

/* TODO: Add support for @media (prefers-dark-mode) when it lands */
.dark-mode,
:host(.dark-mode) {
  --markup-background: var(--markup-dark-background, var(--markup-light-background));
  --markup-color: var(--markup-dark-color, var(--markup-light-color));
  --markup-constast: var(--markup-dark-constast, var(--markup-light-constast));
  --markup-constast-inverse: var(--markup-light-constast);
  --markup-shadow: var(--markup-dark-shadow, var(--markup-light-shadow));

  --markup-variables: var(--markup-dark-variables, var(--markup-light-variables));
  --markup-identifiers: var(--markup-dark-identifiers, var(--markup-light-identifiers));
  --markup-keywords: var(--markup-dark-keywords, var(--markup-light-keywords));
  --markup-punctators: var(--markup-dark-punctators, var(--markup-light-punctators));
  --markup-sequences: var(--markup-dark-sequences, var(--markup-light-sequences));
  --markup-operators: var(--markup-dark-operators, var(--markup-light-operators));
  --markup-combinators: var(--markup-dark-combinators, var(--markup-light-combinators));
  --markup-breakers: var(--markup-dark-breakers, var(--markup-light-breakers));
  --markup-quotes: var(--markup-dark-quotes, var(--markup-light-quotes));
  --markup-closures: var(--markup-dark-closures, var(--markup-light-closures));
  --markup-spans: var(--markup-dark-spans, var(--markup-light-spans));

  --markup-comments: var(--markup-dark-comments, var(--markup-light-comments));
  --markup-whitespace: var(--markup-dark-whitespace, var(--markup-light-whitespace));
}

.markup:matches(.keyword, .breaker, .opener, .span, .assigner, .operator, .combinator, .comment)
  + .markup.identifier {
  --color: var(--markup-identifiers, darkslategrey);
  /* font-style: italic; */
}

.markup.variable {
  --color: var(--markup-variables, red);
}
.markup.keyword {
  --color: var(--markup-keywords, olive);
  /* font-weight: 500; */
}
.markup.punctuator {
  --color: var(--markup-punctuators, green);
  /* font-weight: 500; */
}
.markup.sequence {
  --color: var(--markup-sequences, grey);
}
.markup.operator {
  --color: var(--markup-operators, limegreen);
}
.markup.combinator {
  --color: var(--markup-combinators, steelblue);
}
.markup.breaker {
  --color: var(--markup-breakers, grey);
}
.markup.quote,
.markup.in-quote {
  --color: var(--markup-quotes, teal);
}
.markup.opener,
.markup.closer {
  --color: var(--markup-closures, orange);
}
.markup.punctuator.span {
  --color: var(--markup-punctuators, coral);
}
.markup.comment,
.markup.in-comment {
  --color: var(--markup-comments, #aaa);
}

.markup {
  color: var(--color, var(--markup-color, var(--markup-light-text, currentColor)));
}
