@import './markup.css';
@import './markup-hover.css';

:host {
  --markup-neutral-light: var(--markup-neutral-light, #aaa);
  --markup-neutral: var(--markup-neutral, #999);
  --markup-neutral-fade: var(--markup-neutral-fade, #9993);
  --markup-neutral-dark: var(--markup-neutral-dark, #666);

  --markup-light-text: var(--markup-light-text, #666);
  --markup-light: var(--markup-light, #f9f9f9);
  --markup-light-fade: var(--markup-light-fade, #f9f9f933);
  --markup-dark-text: var(--markup-dark-text, #eee);
  --markup-dark: var(--markup-dark, #333f46);
  --markup-dark-fade: var(--markup-dark-fade, #333f4633);
  --markup-color: var(--markup-color, currentColor);
  --markup-background: var(--markup-background, var(--markup-neutral-fade));
}

html {
  width: 100vw; height: 100vh;
  box-sizing: border-box;

}

body {
  min-height: 100%;
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;

  background-color: #999;
  font-size: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
  /* touch-action: pan-y; */
  /* user-zoom: fixed; */
  /* touch-action: pan-y; */
  /* user-zoom: fixed; */
  /* zoom: 1; */
}

@supports (padding: env(safe-area-inset-top)) {
  body {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  }
}
@supports (touch-action: pan-y) {
  body {
    touch-action: pan-y;
  }
}

#source-code {
  box-sizing: border-box;
  min-height: 100%;

  padding: 1ch;
  margin: 0;
  flex: 1;

  background-color: var(--markup-background, transparent);
  color: var(--markup-color, currentColor);
  /* text-shadow: 0 0.875px 0 var(--markup-shadow, #FFF); */

  line-height: 1.5em;
  font-family: 'Iosevka', 'TypoPRO Iosevka Term', monospace;
  font-variant-ligatures: contextual;
  /* text-rendering: optimizeSpeed; */

  white-space: pre-wrap;

  transition: background 0.5s ease-in-out;
  will-change: transition;

  /* touch-action: none; */
}

#source-code.dark-mode > header {
  --shadow: var(--dark, transparent);
}

#source-code > header {
  --clear: var(--markup-background, #fff);
  --bright: var(--markup-light-fade, #fff3);
  --light: var(--markup-light, #aaa);
  --medium: var(--markup-neutral, #999);
  --dim: var(--markup-neutral-fade, #9993);
  --dark: var(--markup-dark, #333f46);

  --border: var(--bright);
  --fill: var(--dim);
  --text: var(--medium);
  --shadow: var(--light, transparent);
  --outset-shadow: 0 0.875px 0;
  --inset-shadow: 0 -0.875px 0;
  --outset-border: 0.5px groove var(--border);

  display: grid;
  grid-auto-flow: column dense;
  overflow-x: hidden;

  /* TODO:  Fix sticky in Safari: http://cssdeck.com/labs/bu0nx69w */
  position: -webkit-sticky;
  position: sticky;
  top: 1ch;

  grid-gap: 1ch;
  padding: 0.25ch 1ch;

  margin-bottom: 1ch;
  border-radius: 1ch;
  white-space: normal;

  user-select: none;
  -moz-user-select: none;

  border: var(--outset-border, none);
  background: linear-gradient(to right, var(--fill), var(--fill)), var(--clear);
  color: var(--text);
  text-shadow: var(--outset-shadow, 0 0 0) var(--shadow);
  opacity: 0.9;

  font-family: system-ui -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;

  z-index: 1;
}

#source-code > header div {
  display: grid;
  grid-gap: 0.25ch;
  grid-auto-flow: column dense;

  /* word-break: keep-all; */
  /* line-break: normal; */
  overflow-x: hidden;
  text-overflow: ellipsis;
  align-content: center;

  padding: 0.125ch;
}

#source-code > header div:first-child {
  justify-content: left;
}

#source-code > header div:last-child {
  justify-content: right;
}

#source-code > header div#summary {
  grid-column: 1;
}

#source-code > header div#controls {
  grid-row: 1;
}

#source-code > header div > [title] {
  white-space: pre;
}
#source-code > header div > [title] > [id] {
  font-weight: 300;
  user-select: text;
  -moz-user-select: text;
}

/* #source-code > header div > [title] > [id]:not(empty) { min-width: 10em; } */
/* #source-code > header div > [title] > time:not(empty) { min-width: 1em; text-overflow: ellipsis; } */

#source-code > header div > [title] > [id] + time {
  font-size: 87.5%;
  user-select: none;
  -moz-user-select: none;
}

#source-code > header div > [title] > [id] + time::before {
  content: ' ';
}

#source-code > header :empty {
  display: none;
}

#source-code > header a[onclick] {
  display: inline-block;
  box-sizing: padding-box;
  width: 2.5ch;
  height: 0;
  padding: 25% 0;
  border: 2pt solid transparent;
  border-radius: 25%;

  background-clip: border-box;
  border: var(--outset-border, none);
  border-style: solid;
  border-color: transparent;

  vertical-align: middle;
  text-align: center;
  overflow: hidden;

  user-select: none;
  -moz-user-select: none;
}

#source-code > header a[onclick]:hover {
  color: var(--clear);
  background-color: var(--text);
  text-shadow: none;
}

#source-code > header a[onclick]:active {
  color: var(--text);
  border-color: var(--text);
  background-color: var(--clear);
}

i[icon] {
  font-style: normal;
  font-family: 'Arial';
  font-weight: 100;
  display: block;
  height: 50%;
  line-height: 0;
  overflow: visible;
  padding: 0;
  margin: 0;
  transform: translateY(-100%);
}
