@media only screen {
  .markup-line .markup.comment,
  .markup-line .markup.in-comment,
  .markup-line .markup.whitespace {
    --ring: var(--markup-whitespaces, var(--markup-neutral, #999));
  }

  .markup-line {
    --widget-shadow: #00096;
    --widget-underlay: #6664;
    --widget-overlay: #ccc8;
  }

  .dark-mode .markup-line {
    --widget-shadow: #fff6;
    --widget-underlay: #ccc4;
    --widget-overlay: #ccc4;
  }

  .markup-line > .markup {
    --padding: 1px;
    --debug: var(--color, var(--markup-neutral, #999));
    --ring: var(--debug, var(--markup-neutral, #999));
    --bezel: var(--markup-contrast, white);
    margin: calc(-1 * var(--padding, 2px)) calc(-2 * var(--padding, 2px));
    border-radius: 1ch;
    border: calc(2 * var(--padding, 2px)) solid transparent;
    cursor: text;
  }

  .markup-line > .markup.fault {
    --bezel: var(--markup-faults-background, #f21);
    --debug: var(--markup-faults-background, #f21);
  }

  .marker + .markup-line {
    background: #9991;
    outline: 1px solid #9993;
    outline-offset: -1px;
  }

  /* .markup-line-numbers .markup-line:focus-within::before, */
  .marked > .marker + .markup-line::before,
  .markup-line-numbers .markup-wrapper:not(.marked) > .markup-line:hover::before {
    outline: 1px solid #9996;
    outline-offset: -1px;
    background-color: var(--widge, #9996);
    color: var(--markup-contrast);
    opacity: 0.825;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }

  .markup-line:hover::before {
    outline: 1px solid #9996;
    outline-offset: -1px;
  }

  /* .markup-line > .markup:focus, */
  .marked > .markup-line > .marker + .markup,
  .markup-wrapper:not(.marked) > .markup-line > .markup:hover {
    background-color: var(--bezel, white);
    box-shadow: 0 0 0 2px var(--bezel, white), 0 3px 10px -2px #0006;
    position: relative;
    -webkit-box-decoration-break: clone;
    box-decoration-break: slice;
    z-index: 2;
  }

  /* .markup-line > .markup:focus::before, */
  .marked > .markup-line > .marker + .markup::before,
  .markup-wrapper:not(.marked) > .markup-line > .markup:hover::before {
    --padding: 1.75px;
    position: absolute;
    pointer-events: none;
    content: attr(class);
    line-height: initial;
    font-weight: 400;
    font-style: initial;
    font: initial;
    font-size: 75%;
    font-family: inherit;
    white-space: normal;
    --underlay-color: var(--widget-underlay, #0006);
    --overlay-color-1: var(--widget-overlay, #fff3);
    --overlay-color-2: var(--ring, currentColor);
    background: radial-gradient(var(--overlay-color-1) 0%, var(--overlay-color-2) 100%) center / 500%,
      radial-gradient(var(--overlay-color-2) 0%, var(--overlay-color-1) 100%) center / 500%, var(--underlay-color);
    background-blend-mode: screen;
    color: var(--markup-shadow, white);
    text-shadow: 0 1px 1px var(--markup-color, black);
    box-shadow: inset 0 -1px 3px #0001, inset 0 0 25px var(--widget-underlay, #0006),
      0 0 5px -2.5px var(--widget-shadow, #0009);
    border-radius: 1ch;
    border: none;
    border-bottom: 1ch solid var(--ring, currentColor);
    padding: calc(3 * var(--padding, 2px)) calc(6 * var(--padding, 2px));
    left: 50%;
    will-change: transform transition;
    transform: translateX(-50%);
    text-align: center;
    text-indent: 0;
    width: max-content;
    min-width: min-content;
    max-width: -webkit-fill-available;
    max-width: fill-available;
    bottom: calc(100% + 0.5ch + -2 * var(--padding, 2px));
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }

  .markup.fault::after {
    float: right;
    width: 1.5em;
    height: 1.5em;
    overflow: hidden;
    contain: strict;
    margin: 0 2px 0 0;
    padding: 0;
    order: -1;
    content: '!';
    opacity: 0.9;
    color: var(--markup-faults, white);
    background-color: var(--markup-faults-background, #f12);
    border: 2px solid white /* var(--markup-contrast, #000) */;
    border-radius: 50%;
    text-shadow: 0 1px 3px #000c;
    box-shadow: 0 1px 3px -1px var(--markup-color, #000), inset 0 0 2px #0009;

    font-weight: 800;
    font-style: normal;
    font-size: 75%;
    line-height: 150%;
    vertical-align: initial;
    text-align: center;
    text-indent: 0;
  }

  .markup.break {
    white-space: nowrap;
  }

  .markup.break::after {
    white-space: pre;
    content: '\23CE\00A0\000A';
    font-size: 75%;
    vertical-align: bottom;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-color-index: 0) {
  .markup-line {
    --widget-shadow: #0009;
    --widget-underlay: #6663;
    --widget-overlay: #ccc6;
  }

  .dark-mode .markup-line {
    --widget-shadow: #fff9;
    --widget-underlay: #ccc6;
    --widget-overlay: #ccc6;
  }
}

.markup-wrapper .marker {
  display: none;
}
