@import './styles/markup.css';
@import './styles/markup-debug.css';

@font-face {
  font-family: markup;
  font-display: swap;
  src: local('Iosevka'), local('Fira Code'), local('Input'), local('Source Code Pro');
}

:host {
  --markup-neutral-light: var(--markup-neutral-light, #aaa);
  --markup-neutral: var(--markup-neutral, #999);
  --markup-neutral-fade: var(--markup-neutral-fade, #9993);
  --markup-neutral-dim: var(--markup-neutral, #9999);
  --markup-neutral-dark: var(--markup-neutral-dark, #666);

  --markup-light-text: var(--markup-light-text, #666);
  --markup-light: var(--markup-light, #f9f9f9);
  --markup-light-fade: var(--markup-light-fade, #f9f9f933);
  --markup-dark-text: var(--markup-dark-text, #eee);
  --markup-dark: var(--markup-dark, #333f46);
  --markup-dark-fade: var(--markup-dark-fade, #333f4633);
  --markup-color: var(--markup-color, currentColor);
  --markup-background: var(--markup-background, var(--markup-neutral-fade));
}

/** INHERIT **/ /* @import '/pholio/styles/inherit.css'; */
@media only screen {
  html {
    /* box-sizing: border-box; */
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    width: 100vw;
    -webkit-text-size-adjust: 100%;
    font-size: 1rem;
    overflow-x: hidden;
  }

  body {
    min-height: inherit;
    min-width: inherit;
    max-width: inherit;
    width: inherit;

    margin: 0;
    touch-action: pan-y;
    background-color: #999;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }

  .markup-container {
    min-height: inherit;
    min-width: inherit;
    max-width: inherit;
    width: inherit;
    height: max-content;
    padding: 1ch;
    margin: 0;
    box-sizing: border-box;
    contain: content;
  }

  .markup-wrapper {
    margin: 0 1em 0 0;
  }

  .markup-content.fault > .markup-wrapper {
    margin: 0 0.5em;
  }

  .markup-container .markup-content {
    padding-top: 4em;
    margin-top: -3em;
    margin-left: -1ch;
    margin-right: -1ch;
    /* line-break: loose; */
    /* word-wrap: break-word; */
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
  }

  .markup-container > header {
    position: -webkit-sticky;
    position: sticky;
    top: 1ch;
    z-index: 1;
  }
}

.markup-container {
  background-color: var(--markup-background, transparent);
  color: var(--markup-color, currentColor);
  line-height: 1.5em;
  -webkit-tab-size: var(--markup-tab-size, 2);
  -moz-tab-size: var(--markup-tab-size, 2);
  tab-size: var(--markup-tab-size, 2);
  font-family: Iosevka, markup, monospace;
  font-kerning: auto;
  /* white-space: pre-wrap; */
}

.markup-container.fade {
  transition: background 0.5s ease-in-out;
}

.markup-container > header {
  --clear: var(--markup-background, #fff);
  --bright: var(--markup-light-fade, #fff3);
  --light: var(--markup-light, #aaa);
  --medium: var(--markup-neutral, #999);
  --dim: var(--markup-neutral-fade, #9993);
  --dark: var(--markup-dark, #333f46);
  --border: transparent;
  --fill: var(--dim);
  --text: var(--medium);
  --shadow: var(--light, transparent);
  --outset-shadow: 0 0.875px 0;
  --inset-shadow: 0 -0.875px 0;
  --outset-border: 0.5px solid var(--border);
  display: grid;

  grid-auto-flow: column dense;
  grid-gap: 1ch;
  padding: 0.25ch 1ch;
  margin-bottom: 1ch;
  white-space: normal;
  font-family: system-ui -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  font-weight: 200;
  font-size: 1rem;
  line-height: initial;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  box-sizing: border-box;
  align-items: center;
}

.markup-container > header div > [title] > [id] {
  user-select: contain;
  -moz-user-select: contain;
  -webkit-user-select: contain;
}

.markup-container > header div {
  display: grid;
  grid-gap: 0.25ch;
  grid-auto-flow: column dense;
  overflow-x: hidden;
  text-overflow: ellipsis;
  align-content: center;
  padding: 0.125ch;
}

.markup-container > header div:first-child {
  justify-content: left;
}

.markup-container > header div:last-child {
  justify-content: right;
}

.markup-container > header div#summary {
  grid-column: 1;
}

.markup-container > header div > [title] {
  white-space: pre;
  --symbol: '';
}
.markup-container > header div > [title] > [id] {
  font-weight: 300;
}

.markup-container > header div > [title] > [id]::before {
  content: var(--symbol, '');
}

.markup-container > header #source-type {
  font-weight: 700;
}

.markup-container > header div > [title] > [id] + time {
  font-size: 87.5%;
}

.markup-container > header div > [title] > [id] + time::before {
  content: ' ';
}

.markup-container > header :empty {
  display: none;
}

.markup-container > header [value]:not([value=''])[unit]:not([unit=''])::after {
  content: ' ' attr(unit);
  font-size: 50%;
  font-weight: lighter;
}

.markup-container > header div#controls {
  grid-row: 1;
  font-size: 1rem;
  grid-gap: 0.5rem;
  line-height: 1.5rem;
}

.markup-container > header div#controls > span {
  display: contents;
}

.markup-container > header a[onclick] {
  min-width: 1em;
  border-radius: 0.75ch;
}

.markup-container > header a[onclick]:hover {
  color: var(--clear);
  background-color: var(--text);
  text-shadow: none;
}

.markup-container > header a[onclick]:active {
  color: var(--text);
  border-color: var(--text);
  background-color: var(--clear);
}

i[icon] {
  all: initial;
  overflow: hidden;
  box-sizing: border-box;
  display: inline-grid;
  place-content: center;
  place-items: center;
  transform: translateY(-7.5%);
  height: 1.25em;
  width: 1.25em;
  color: inherit;
  font-synthesis: weight style;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  text-transform: full-width;
  text-align: center;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  line-height: 0;
  vertical-align: middle;
}

@media only screen {
  .markup-container .markup-content {
    transition: filter 0.15s ease-out;
    user-select: contain;
    -moz-user-select: contain;
    -webkit-user-select: contain;
  }

  .markup-container > header {
    border-radius: 1ch;
    border: var(--outset-border, none);
    background: linear-gradient(to right, var(--fill), var(--fill)), var(--clear);
    color: var(--text);
    text-shadow: var(--outset-shadow, 0 0 0) var(--shadow);
    opacity: 0.9;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    will-change: transform;
  }

  .dark-mode .markup-container > header {
    --shadow: var(--dark, transparent);
  }

  .markup-container .markup-content.rendering,
  .markup-container.rendering .markup-content,
  .markup-container .rendering .markup-content {
    pointer-events: none;
    /* opacity: 0.85; */
    filter: blur(10px) contrast(0.5) saturate(1.5);
    transition: filter 0.25s ease-in;
  }

  .markup-container .markup-content.rendering *,
  .markup-container.rendering .markup-content *,
  .markup-container .rendering .markup-content * {
    pointer-events: none;
  }
}

@media screen and (max-width: 480px) and (orientation: portrait) {
  html {
    font-size: 0.75rem;
  }
}

@media print {
  :root {
    --markup-color: black;
    --markup-neutral-dark: dimgrey;
    --markup-neutral: grey;
    --markup-neutral-light: darkgrey;
    --markup-neutral-fade: lightgrey;
  }

  .markup-container {
    background: transparent;
    font-size: 10pt;
    color-adjust: economy;
  }

  .markup-container > header {
    grid-auto-flow: row dense;
    border: 0 double currentColor;
    padding-bottom: 1ch;
    border-bottom-width: 4px;
    position: initial;
  }
  .markup-container > header #controls {
    display: none;
  }
}

@supports (margin: env(safe-area-inset-top)) {
  html {
    margin: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    min-width: calc(100vw - env(safe-area-inset-left) - env(safe-area-inset-right));
    max-width: calc(100vw - env(safe-area-inset-left) - env(safe-area-inset-right));
    width: calc(100vw - env(safe-area-inset-left) - env(safe-area-inset-right));
  }
}

@media only screen and (prefers-color-scheme: light) {
  body {
    background-color: var(--markup-light-background, #999);
    color: var(--markup-light-contrast, black);
  }
}

@media only screen and (prefers-color-scheme: dark) {
  body {
    background-color: var(--markup-dark-background, #999);
    color: var(--markup-dark-contrast, white);
  }
}
